asttokens==2.2.1
attrs==23.1.0
black==23.7.0
boltons==23.0.0
cached-property==1.5.2
click==8.1.6
cmake==3.27.0
contourpy==1.1.0
cycler==0.11.0
cytoolz==0.12.2
deepdiff==6.3.1
devtools==0.11.0
executing==1.2.0
fonttools==4.41.1
frozendict==2.3.8
gridtools-cpp==2.3.0
gt4py @ git+https://github.com/gridtools/gt4py.git@fd4f568235338d26cdddfeff0f0c1e94c5ced937
jax==0.4.14
jaxlib==0.4.14
Jinja2==3.1.2
kiwisolver==1.4.4
lark==1.1.7
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib==3.7.2
ml-dtypes==0.2.0
mypy-extensions==1.0.0
ninja==1.11.1
numpy==1.25.1
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
pybind11==2.11.1
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
python-dateutil==2.8.2
scipy==1.11.1
six==1.16.0
tabulate==0.9.0
tomli==2.0.1
toolz==0.12.0
tqdm==4.65.0
typing_extensions==4.5.0
xxhash==3.0.0
